/*
  This will get rid of some annoying pre-loading margin/padding
*/
@import
url('https://fonts.googleapis.com/css?family=Patua+One');
html, body {
  padding: 0;
  margin: 0;
}
/*
  Now, your CSS
*/
h1 {
  font-size: 5em;
  font-family: "Patua One", sans-serif;
  text-align: center;
  color: white;
}

h1:hover {
  color: black;
  border: 3px;
  background-color: white;
  radius: 5px;
}

body {
  background-color: #19324D;
}

#BY {
  font-family: "Patua One", sans-serif;
  color: white;
  padding-left: 15px;
}

#QUESTION {
  text-align: center;
  color: white;
  font-family: "Patua One", sans-serif;
  font-size: 2em;
}
