#foo {
  background-color: #C384FB;
  margin: 0px;
  padding: 7.5px;
  border-radius: 7.5px;
}
#bar {
  background-color: #C3F83F;
  margin: 0px;
  padding: 7.5px;
  border: solid 5px red;
  border-radius: 7.5px;
}
#rainbowsuno {
  background-color: rgb(255, 0, 0);
  padding: 7.5px;
  margin: 0px;
  border: solid 5px orange;
  border-radius: 7.5px;
}
#rainbowsdos {
  background-color: orange;
  padding: 7.5px;
  margin: 0px;
  border: solid 5px yellow;
  border-radius: 7.5px;
}
#rainbowstres {
  background-color: yellow;
  padding: 7.5px;
  margin: 0px;
  border: solid 5px #46A136;
  border-radius: 7.5px;
}
#rainbowscuatro {
  background-color: #46A136;
  padding: 7.5px;
  margin: 0px;
  border: solid 5px blue;
  border-radius: 7.5px;
}
#rainbowscinco {
  background-color: blue;
  padding: 7.5px;
  margin: 0px;
  border: solid 5px purple;
  border-radius: 7.5px;
}
#rainbowsseis {
  background-color: purple;
  padding: 7.5px;
  margin: 0px;
  border: solid 5px pink;
  border-radius: 7.5px;
}
#rainbowsocho {
  background-color: pink;
  padding: 7.5px;
  margin: 0px;
  border: solid 5px white;
  border-radius: 7.5px;
}
#STYLIN {
  background-color: #0064FF;
  padding: 7.5px;
  margin: 0px;
  border: solid 5px white;
  border-radius: 7.5px;
}
body {
  background: black;
}
